@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color:#2EB26F ;
}

.parent-side{
    display: flex;
    width: 100%;
    height: 100vh;
}



.side-bar{
    display: flex;
    background-color: #272727;
    width: 16%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
}
.main-logo{
    position: absolute;
    width: 120px;
    height: auto;
    top:5%;
}

.title-container{
    transform: rotate(-90deg);
    position: relative;
}
.title-container h1{
    color: white;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.line{
    background: white;
    width: 2px;
    height: 60px;
    transform: rotate(-90deg);
    position: absolute;
    left: 50%;
    top:10px;
}


.main-side{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: 16%;
    background-color: blue;
}
.main-child{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2EB26F;
}


.nav-link{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 40px;
}
.nav-link a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 45px;
}
.car-layout{
   display: flex;
   position: relative;
   top: 30%;
   margin-left: 5rem;
}

.car-logo{
    display: flex;
    align-items: flex-end;
    z-index: 99;
}

.car-pic{
    width: 600px;
    height: auto;
}
.text{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 28%;
    bottom: 28%;
}
.main-line{
    font-family: 'Rubik', sans-serif;
    color: #272727;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}
.main-line span{
    color: white;
    position: relative;
    
}
.sub-line{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.button{
    text-align: right;
    margin-right: 5rem;
    margin-top: 3rem;
}
.start-button{
    background-color: #272727;
    font-family: 'Open Sans';
    color: white;
    border: none;
    padding: 1.6rem 4.5rem;
    box-sizing: border-box;
    font-size: 16px;
}
.bottom-bar{
    width: 90%;
    display: flex;
    height: auto;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-left: 3%;
}

.bottom-bar h1{
    font-family:'Open Sans';
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.bottom-bar p{
    font-family:'Open Sans';
    color: white;
    font-size: 16px;
    font-weight: lighter;
}
.text-sec{
    margin-left: 2rem;
}

.bottom-button{
    margin-left: 10rem;
}

.mech-button{
    background-color: white;
    padding: 1.3rem 1.6rem;
    color: #2EB26F;
    
}

/* MEDIA QUERIES */

@media screen and (max-width:414px){
    .side-bar{
        display: none;
    }
    .car-layout{
        margin: 0;
        justify-content: center;
        align-items: center;
        top: 10%;
    }
    .car-pic{
        width: 400px;
        height: auto;
    }
    .main-side{
        margin-left: 0;
    }
    .main-line{
        font-size: 54px;
    }
    .sub-line{
        text-align: left;
        font-size: 16px;
    }
    .button{
    margin-right: 1.7rem;
    margin-top: 3.5rem;
}
    .text{
        left: 3%;
        top: 100%;
    }
    .bottom-bar{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        top: 90%;
    }
    .text-sec{
        margin-left: 0;
    }
    
}

@media screen and (max-width:375px){
    .car-pic{
        width: 350px;
        height: auto;
    }

}

@media screen and (max-width:320px){
    .car-pic{
        width: 320px;
        height: auto;
    }

}